.icon-arrow-r::after {
  @include font-awesome-base;
  content: '\f054';
}

.icon-bell::before {
  @include font-awesome-base;
  content: '\f0f3';
}

.icon-camera::before {
  @include font-awesome-base;
  content: '\f030';
}

.icon-card::before {
  @include font-awesome-base;
  content: '\f09d';
}

.icon-check::before {
  @include font-awesome-base;
  content: '\f00c';
}

.icon-clock::before {
  @include font-awesome-base;
  content: '\f017';
}
.icon-like::before {
  @include font-awesome-base;
  font-weight:400;
  content: '\f004';
}
.icon-list::before {
  @include font-awesome-base;
  content: '\f03a';
}

.icon-search::after {
  @include font-awesome-base;
  content: '\f002';
}

.icon-tag::before {
  @include font-awesome-base;
  content: '\f02b';
}

.icon-select::before {
  @include font-awesome-base;
  content: '\f078';
  }
