//-----------------------------------ホバーすると見えるリスト

//--------------------お知らせ
#notification-list{
  display: none;
}

.user-box{
  position: absolute;
  top: 44px;
  z-index: 1;
  width: 320px;
  min-height: 200px;
  background: $white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  font-size: 14px;
  opacity: 1 !important;

  .pc-header__notification-list__link{
    position: relative;
    display: flexbox;
    min-height: 80px;
    width: 100%;
    padding: 16px;
    color: $gray-lv4;
    border-bottom:solid 1px $gray-lv1;

    }
    img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin: 18px;
      width: 44px;
      height: 44px;
    }
    .notification-box{
      display: block;
      margin-left: 80px;
      line-height: 1.1;
      &::after{
        position: relative;
        right: -90%;
        bottom: 20px;
        color: $gray-lv2;
      }
      &__date-passed{
        color:$gray-lv3;

        &::before{
          font-weight:400;
          color: $gray-lv2;
          margin-right: 5px;
        }
      }
    } //notificaiton-box end
  } // pc-header__user-box end

#todo-list{
  display: none;
}

.todo-list{
  height: 300px;
  padding: 160px 0 60px;
  background-image: url("logo-gray.svg");
  background-color: $white;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 100px 100px;
  text-align: center;
  font-size: 16px;
  color:$gray-lv2;
}
//----------------------------------------マイページ

#mypage-box{
  display: none;
}

.mypage-box{
  position: absolute;
  top: 44px;
  right: 0px;
  z-index: 1;
  width: 320px;
  min-height: 200px;
  background: $white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  font-size: 14px;
  opacity: 1 !important;
  text-align: center;
  &__bg-image{
    padding: 28px 0 0;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 320px 80px;
    background: url("../../assets/user_bg.jpg");
    img{
      border-radius:50%;
    }
  }

  &__upper-info{
    margin: 10px;
    padding-top:25px;
    border-bottom: $table-border;

    .user-name{
      font-size: 1.2em;
    }
    .review-list{
      display: flex;
      justify-content: center;
      margin: 5px;
    }
  } // end .upper-info

  .currency{
    &__money, &__point{
      width: 100%;
      background: $gray-lv1;
      border: solid 1px $gray-lv1plus;
      height: 40px;
      padding: 10px;
    }
    .currency__inner__list{
      display: flex;
      justify-content: space-between;

      .icon-arrow-r::after{
        margin-left: 5px;
        color: $gray-lv2;
      }
    }
  } //end currency

  .mypage-list{
    &__item{
      position: relative;
      display: block;
      height: 48px;
      padding: 16px;
      background: $white;
      font-size: 14px;
      color: $gray-lv4;
      border-bottom: solid 1px $gray-lv1;
      text-align: left;
      &:hover{
        background: $gray-lv1plus;
      }
    }
    .icon-arrow-r{
      display: block;
      width: 100%;

      &::after{
        position: absolute;
        top:15px;
        right:20px;
        color:$gray-lv2;
      }
      &:hover{
        &::after{
          color: $gray-lv4;
          transform: scale(1.3, 1.3) translateX(3px);
          transition-duration:0.2s;
        }
      }
    } //end icon-arrow-r
  } // end mypage-list
}
