.single-wrapper
  = render partial: "/shared/single-header"
  .single-container
    .sign-up
      .panel
        .panel__head プロフィール
        .panel__inner
          .user-info
            .user-info__bg-image
              %figure.user-info__avatar=image_tag "avatar.jpg", alt: "ユーザーアイコン"
              %p.user-info__plofiele= f.textarea :profile
              %p.user-info__edit-btn= f.submit “変更する”
              -# =form_for [@user] do |f|
              -#   %p.user-info__plofiele= f.textarea :profile
              -#   %p.user-info__edit-btn= f.submit “変更する”
