%noscript
  %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
/ End Google Tag Manager (noscript)
.default-container
  %header.sp-header.visible-sp
    .sp-header-inner
      %h1.logo
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336"}/
      .sp-header-user-nav.clearfix
        %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/notification/"}
          %figure
            %i.icon-bell
        %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/todo/"}
          %figure
            %i.icon-check
        %a.sp-header-user-icon.sp-header-user-profile{:href => "https://www.mercari.com/jp/mypage/"}
          %figure
            %div
              %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
    .search-bar
      %form.sp-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.sp-header-search.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
        %i.icon-search
  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          %a{:href => "https://www.mercari.com/jp/"}
            %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", :width => "134"}/
        %form.pc-header-form{:action => "https://www.mercari.com/jp/search/"}
          %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          %i.icon-search
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.pc-header-nav
            %li
              %h2
                %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/category/"}
                  %i.icon-list.pc-header-cat-brand-icon
                  %span カテゴリーから探す
                  -# リストここから
              %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => "#"} レディース
                  %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
                    %li.pc-header-nav-child
                      %a{:href => "#"} トップス
                      %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} Tシャツ/カットソー(七分/長袖)
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} シャツ/ブラウス(半袖/袖なし)
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} シャツ/ブラウス(七分/長袖)
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} ポロシャツ
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} キャミソール
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} タンクトップ
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} ホルターネック
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} ニット/セーター
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} チュニック
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} カーディガン/ボレロ
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} アンサンブル
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} ベスト/ジレ
                        %li.pc-header-nav-grand-child
                          %a{:href => "#"} パーカー
                        -# リストここまで、カテゴリーごとに繰り返し
                %li.pc-header-nav-nochild
                  %h3
                    %a{:href => "#"} カテゴリー一覧
            %li
              %h2
                %a.pc-header-nav-root.list-parent{:href => ""}
                  %i.icon-tag.pc-header-cat-brand-icon
                  %span ブランドから探す
                %ul.pc-header-nav-parent-wrap
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} シャネル
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} ナイキ
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} ルイ ヴィトン
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} シュプリーム
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} アディダス
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "#"} ブランド一覧
        .l-right
          %ul.pc-header-user-nav
            %li{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
                %i.icon-bell
                %span お知らせ
              %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"}
                %li.mypage-item-not-found.bold お知らせの商品がありません
            %li{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
                %i.icon-check
                %span やることリスト
              %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
                %li.mypage-item-not-found.bold 現在、やることリストはありません
            %li
              %a.pc-header-user-icon.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/"}
                %figure
                  %div
                    %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
                %span マイページ
              .pc-header-user-box.pc-header-mypage-box
                .pc-header-mypage-state.text-center
                  %figure
                    %div
                      %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
                    %figcaption 検証
                  %ul.pc-header-mypage-review-listing
                    %li
                      %a.pc-header-link{:href => "https://www.mercari.com/jp/mypage/review/history/"} 評価: 0
                    %li
                      %a.pc-header-link{:href => "https://www.mercari.com/jp/mypage/listings/listing/"} 出品数: 0
                  %ul.pc-header-mypage-sales-point
                    %li
                      %a.pc-header-link.clearfix{:href => "https://www.mercari.com/jp/mypage/sales/"}
                        .l-left
                          売上金
                        .l-right
                          ¥ 0
                          %i.icon-arrow-right
                    %li
                      %a.pc-header-link.clearfix{:href => "https://www.mercari.com/jp/mypage/point/"}
                        .l-left ポイント
                        .l-right
                          P 0
                          %i.icon-arrow-right
                %ul.mypage-nav-list
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/like/history/"}
                      いいね！一覧
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/listing/"}
                      出品した商品 - 出品中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/in_progress/"}
                      出品した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/listings/completed/"}
                      出品した商品 - 売却済み
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/purchase/"}
                      購入した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav-list-item{:href => "https://www.mercari.com/jp/mypage/purchased/"}
                      購入した商品 - 過去の取引
                      %i.icon-arrow-right
  %nav.bread-crumbs
    %ul
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
          %span{:itemprop => "title"} メルカリ
        %i.icon-arrow-right
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %span{:itemprop => "title"} マイページ
  %main.l-container.clearfix
    .l-content
      %section.mypage-user-icon
        %a{:href => "https://www.mercari.com/jp/u/693920474/"}
          %figure
            %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
          %h2.bold 検証
          .mypage-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
                お知らせ
          %li
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-todo"}
                やることリスト
        .tab-content
          %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold お知らせの商品がありません
          %ul#mypage-tab-todo.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold 現在、やることリストはありません
      %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
        .modal-inner.modal-banner
          .modal-banner-eye-catch
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4194600336"}/
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336"}/
          .modal-banner-body
            %h2 今すぐ無料ダウンロード！
            %p.bold 全ての機能を使えるスマホアプリはこちら！
            .modal-banner-app.clearfix
              %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336"}/
              %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336"}/
            %a.modal-banner-app-open{"data-action" => "app/launch", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""}
              アプリで開く
          %i.icon-close{"data-close" => "modal"}
      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-now"}
                取引中
          %li
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-old"}
                過去の取引
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold 取引中の商品がありません
          %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold 過去に取引した商品がありません
    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item.active{:href => "/jp/mypage/"}
              マイページ
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/notification/"}
              お知らせ
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/todo/"}
              やることリスト
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/like/history/"}
              いいね！一覧
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/sell/"}
              出品する
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/listing/"}
              出品した商品 - 出品中
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/in_progress/"}
              出品した商品 - 取引中
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/completed/"}
              出品した商品 - 売却済み
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchase/"}
              購入した商品 - 取引中
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchased/"}
              購入した商品 - 過去の取引
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/news/"}
              ニュース一覧
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/review/history/"}
              評価一覧
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/help_center/"}
              ガイド
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/support/"}
              お問い合わせ
              %i.icon-arrow-right
        %h3.mypage-nav-head メルペイ
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sales/"}
              売上・振込申請
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/point/"}
              ポイント
              %i.icon-arrow-right
        %h3.mypage-nav-head 設定
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/profile/"}
              プロフィール
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/deliver_address/"}
              発送元・お届け先住所変更
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/card/"}
              支払い方法
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/email_password/"}
              メール/パスワード
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/identification/"}
              本人情報
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sms_confirmation/"}
              電話番号の確認
              %i.icon-arrow-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/logout/"}
              ログアウト
              %i.icon-arrow-right
  %aside.app-banner
    .app-banner-pc
      .app-banner-pc-inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner-icon.clearfix
          %figure
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4194600336", :width => "68"}/
          %ul.clearfix
            %li
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336", :width => "133"}/
            %li
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336", :width => "133"}/
      %figure
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4194600336"}/
  %footer.global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
              %i.icon-twitter
          %li.footer-social-link
            %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
              %i.icon-facebook
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
      .footer-cell.full-width
        %h2.footer-head プライバシーと利用規約
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
            %li
              %a{:href => "https://www.mercari.com/jp/refund-returns/"} 返品・返金ポリシー
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            %a.active{:href => "https://www.mercari.com/jp/"} 日本
          %li
            %a{:href => "https://www.mercari.com/"} United States
    .footer-bottom
      %a.footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4194600336", :width => "124"}/
      %span.footer-copyright
        %small © 2019 Mercari
  %a.footer-sell-btn{:href => "https://www.mercari.com/jp/sell/"}
    %div 出品
    %i.icon-camera
  .custom-banner.custom-banner-ios.banner-pattern1.clearfix
    %figure
      %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?4194600336", :width => "56"}/
    .clearfix
      .banner-rating
        %figcaption
          iOS版メルカリ
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?4194600336", :width => "12"}/
        %span.user-num (6,698)
      %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=installHeader.creative1", :target => "_blank"} インストール
      %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
  .custom-banner.custom-banner-android.banner-pattern1.clearfix
    %figure
      %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?4194600336", :width => "56"}/
    .clearfix
      .banner-rating
        %figcaption
          Android版メルカリ
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?4194600336", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?4194600336", :width => "12"}/
        %span.user-num (60,414)
      %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=android&adgroup=installHeader.creative1", :target => "_blank"} インストール
      %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
  .overlay
%script{:async => "", :src => "https://www.google-analytics.com/plugins/ua/ec.js", :type => "text/javascript"}
%script{:async => "", :src => "https://www.google-analytics.com/analytics.js", :type => "text/javascript"}
%script{:async => "", :src => "//www.googleadservices.com/pagead/conversion_async.js", :type => "text/javascript"}
%script{:async => "", :src => "https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"}
%script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?3335479155"}
:javascript
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'mypage',
    'uid': '693920474'
  });
/ Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLPT5L5');
/ End Google Tag Manager
%script{:src => "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1557145451201&cv=9&fst=1557145451201&num=1&guid=ON&resp=GooglemKTybQhCsO&eid=376635470&u_h=900&u_w=1440&u_ah=877&u_aw=1440&u_cd=24&u_his=47&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&gtm=2wg430&sendb=1&frm=0&url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2F&ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fidentification%2F&tiba=%E3%83%9E%E3%82%A4%E3%83%9A%E3%83%BC%E3%82%B8%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA&async=1&rfmt=3&fmt=4"}
