%nav.breadcrumb-container
  %ul{class: 'breadcrumb', itemscope: 'itemscope', itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li.breadcrumb__list= link_to 'メルカリ', href:"#", itemprop: "url", itemprop: "title"
    %li.breadcrumb__list= link_to 'カテゴリー１', href:"#", itemprop: "url", itemprop: "title"
    %li.breadcrumb__list= link_to '子カテゴリー', href:"#", itemprop: "url", itemprop: "title"
