.mypage-nav
  %ul
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'マイページ','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'お知らせ','#'
      %span.mypage-nav__list__inner__num 99
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'やることリスト','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'いいね！一覧','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '出品する','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '出品した商品 - 出品中','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '出品した商品 - 取引中','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '出品した商品 - 売却済み','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '購入した商品 - 取引中','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '購入した商品 - 過去の取引','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'ニュース一覧','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '評価一覧','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'ガイド','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'お問い合わせ','#'

  %h3.mypage-nav__head メルペイ
  %ul
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '売上・振込申請','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'ポイント','#'

  %h3.mypage-nav__head 設定
  %ul
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      = link_to "プロフィール", edit_path(url: 'profile')
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '発送元・お届け先住所変更','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '支払い方法','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to 'メール/パスワード','#'
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      = link_to "本人情報", edit_path(url: 'identification')
    %li.mypage-nav__list
      .mypage-nav__list__inner.icon-arrow-r
      =link_to '電話番号の確認','#'
    %li.mypage-nav__list.mypage-nav__current-page
      .mypage-nav__list__inner.icon-arrow-r
      = link_to "ログアウト", edit_path(url: 'logout')
