-# XXX: 当初設計では運営からのお知らせデータが存在しない、ダミー作成 ⇨余裕できたらデータテーブルごと追加で実装

%section.mypage-tab-container.notification-todo
  %ul.mypage-tabs
    -# TODO: .activeをjsでつけ変えることで表示を変える
    %li.active
      %h3
        -# TODO: 後回し、ページ内リンクを生成したいがうまくいかず、遷移を伴ってしまう。
        -# オリジナルではページ内リンクが設定されているものの、実際にはページ内の移動さえ起こらない、原理不明
        -# data-toggleが不明、モーダル表示のソースが存在するが、いつ出現するか謎。
        = link_to "お知らせ", user_path(anchor: "mypage-tab__notification"), data: {toggle: "tab"}
    %li
      %h3
        -# TODO: 後回し、なぜかactiveでないこちらは遷移が発生しない、この動きをactiveにも実現したい。
        = link_to "やることリスト", user_path(anchor: "mypage-tab__todo"), data: {toggle: "tab"}
  .tab-content
    -# TODO:.activeをjsでつけ変えることで表示を変える
    %ul#mypage-tab__notification.mypage-item-list.tab-pane.active

      -# TODO: - if hoges.length == 0
      -# %li.mypage-item-not-found.bold お知らせの商品がありません

      -# TODO: 最低要件はダミー表示コピーで実現する
      -# - else
      -# - hoges.foreach do |hoge|

      %li
        %a.mypage-item-link{:href => "#"}
          %figure
            = image_tag "mercari_profile.png", size: "48x48"
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「ログイン通知」
            %time
              %i.icon-clock
              %span 11 時間前
          %i.icon-arrow-r

      %li
        %a.mypage-item-link{:href => "#"}
          %figure
            = image_tag "mercari_profile.png", size: "48x48"
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「ログイン通知」
            %time
              %i.icon-clock
              %span 11 時間前
          %i.icon-arrow-r

      -# %li.pc-header__notification-list__link.icon-arrow-r
      -#   %figure
      -#     = image_tag "mercari_profile.png", size: "48x48"
      -#   .notification-box
      -#     %p.notification-box__message お知らせ１
      -#     %p.notification-box__date-passed.icon-clock 1日前


    %ul#mypage-tab__todo.mypage-item-list.tab-pane
      %li.mypage-item-not-found.bold 現在、やることリストはありません
