.upload-item
  = image_tag image.image.url, class: "upload-item__photo"
  .upload-item__nav
    .upload-item__nav__edit
      %p 編集
    = f.label :remove_image, class: "upload-item__nav__delete" do
      = f.check_box :remove_image, class: 'hidden'
      %p 削除
