.item-detail-page{
  .panel{
    @include single-container-base;
    &__head{
      @include single-container-header;
      text-align: center;
    }
    .item-info {
      padding: 0 64px;
      &__photo{
        width: 270px;
        height: 360px;
        background:url("https://placehold.jp/cccccc/ffffff/150x150.png?text=item-photo");
      }
      &__price{
        font-size: 50px;
        font-weight:900;
        text-align: center;
        &__tax{
          font-size:0.2em;
          font-weight:normal;
        }
        &__sipping{
          font-size:0.3em;
          font-weight:normal;
        }
      }//&__price end
      .sales-message{
        position: relative;
        display: inline-block;
        margin: 1.5em auto;
        padding: 10px;
        min-width: 120px;
        max-width: 100%;
        color: $white;
        font-size: 14px;
        background: $blue-green;
        border-radius:3px;
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -15px;
          border: 15px solid transparent;
          border-top: 15px solid $blue-green;
        }
      }
      .buy-btn{
        @include btn-default;
        @include btn-red;
        font-size: 1.2em;
      }
    }//.item-info end

    .detail-info{
      border:$table-border; //colors.scssに仮置きで設定中
      min-width: 360px;
      margin: 0 auto;
      th{
        border:$table-border;
        background-color:$gray-lv1;
        height: 40px;
      }
      td{
        border:$table-border;
        padding: 5px;
      }
    }
  }
}
.pick-up-container{
  &__header{
    @include pickup-header;
  }// 効いていないかも
}
