.item-detail-page{
  .single-container{
    @include single-container-base;
    padding: 24px 16px;
    width: 100%;

    .panel{

      &__head{
        @include single-container-header;
        padding: 16px;
        text-align: center;
      }
      .item-info {

        clear:both;
        &__photo{
          display: block;
          width: 270px;
          height: 360px;
          margin: 0 auto;
          background:url("https://placehold.jp/cccccc/ffffff/150x150.png?text=item-photo");
        }
        &__price{
          margin-top: 24px;
          font-size: 50px;
          font-weight:900;
          text-align: center;
          &__tax{
            font-size:0.2em;
            font-weight:normal;
          }
          &__sipping{
            font-size:0.3em;
            font-weight:normal;
          }
        }//&__price end
      }//.item-info end

        .detail-info{
          border:$table-border; //colors.scssに仮置きで設定中
          width: 340px;
          margin: 0 auto;

          th{
            border:$table-border;
            background-color:$gray-lv1;
            height: 40px;
            padding: 5px;
          }
          td{
            border:$table-border;
            padding: 5px;
          }
        }
      }
    }
    .pick-up-container{
      &__header{
        @include blue-header;
      }
    }
    .item-info__description{
      margin-top: 30px;

    }
    .buy-btn{
      @include btn-default;
      @include btn-red;
      font-size: 24px;
      font-weight: normal;
      margin-bottom:20px;
    }
    .sales-message{
      @include green-balloon;
    }

  .like-report{
    display: flex;
    margin-top: 16px;
    &__btn{
      appearance: none;
      border: none;
      outline: none;
      display: inline-block;
      height: 20px;;
      line-height: 1.4em;
      padding: 7px;
      background-color: $gray-lv1;
      border-radius: 50px;
      margin-right: 20px;
    }
    .icon-like:before{
      color: $gray-lv2;
      margin-right: 5px;
    }
    .trial-to-safe{
      display: block;
      text-align: right;
      color: $link-blue;
      line-height: 2.5em;
      flex: 2;
      &:hover{
        @include blue-link;
      }
    }
  }
}//item-detail-page end

@media screen and (min-width: 1068px) {

 }//幅1068px以上のページに適応されるscss

@media screen and (min-width: 768px) {
  .single-container{
    max-width: 700px;
    padding: 24px 40px 40px 40px !important;
    .visible-sp-only{
      display: none;
    }
    .item-info__photo{
      float: left;
    }
    .item-info__price{
      clear: both;
    }

    .detail-info{
      float: right;
      width: 320px !important;
    }
  }
  }//幅768px以上のページに適応されるscss
