.item-box__container{
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  .item-box{
    width: 213px;
    background-color: $white;
    display: inline-block;
    margin:20px 20px 0 0;
    position: relative;
    img{
      width: 213px;
      height: 213px;
    }
    .soldout::before{
      content: "";
      top: 0;
      left: 0;
      border-bottom: 100px solid transparent;
      border-left: 100px solid $base-red;
      position: absolute;
      z-index: 10;
    }
    .soldout::after{
      content: "SOLD";
      font-size: 23px;
      font-weight: bold;
      display: block;
      top: 23px;
      transform: rotate(-45deg);
      color: #fff;
      left: 3px;
      position: absolute;
      z-index: 20;
      letter-spacing: 1px;

    }
    .visible-small-and-sp-only{
      display: none;
    }
    &__info{
      padding: 0 0 16px 0;
      position: relative;
      height: 100px;
      &__name{
      overflow: hidden;
      position: relative;
      margin: 16px 16px 0 16px;
      font-size: 16px;
      height:2.5em;
      line-height: 1.2em;
      word-break: break-word;
      white-space: normal;
      }
    }
    &__gradient{
      position: absolute;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
      width: 100%;
      height: 50px;
      z-index: 10;
    }
    &__bottom{
      position: absolute;
      display: flex;
      flex-wrap:wrap;
      font-size: 1.2em;
      margin: 16px;
      &__price{
        flex-grow: 2;
      }
      &__like{
        &::before{
          margin-right: 5px;
          color: $gray-lv2;
          flex-grow: 1;
        }
      }
      &__tax{
        width: 100%;
        font-size:0.5em;
      }
    }
  }
}
@media screen and (max-width: 1068px) {
  .index-page{
    .item-box:nth-child(4){
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .index-page{
    .item-box{
      margin: 0 0 20px 20px;
      width: calc(50% - 30px);
      &:nth-child(4){
        display: block;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
