.slider img{
  width: 100%;
} //仮置きの画像

.slideSet > div {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.slide {
  float: left;
}

.slideSet {
  position: absolute;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.slide01 {
  background-image:url(../slider_01.png);
}

.slide02 {
  background-image:url(../slider_02.png);
}

.slide03 {
  background-image:url(../slider_03.png);
}

.slide04 {
  background-image:url(../slider_04.png);
}

