.search-page{
  .search-container{
    position: relative;
    width: 1020px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

    .search-content-l{
      width: 280px;
      h4[class*="icon-"]::before{
        color: $gray-lv2;
        margin-right: 5px;
      }
      .select-box{
        @include select-default;
        background-color: $white;
        width: 100%;
        margin-top: 5px;
      }
      .text-field{
        @include input-default;
        margin-top: 5px;
      }

      .search-option{
        background-color: $white;
        margin-top: 30px;
        padding: 10px;
        &__header{
          font-size: 1em;
          font-weight:700;
        }
        .options{
          &__header{
            font-size: 1em;
            font-weight:700;
            margin-top:20px;
          }

        } //end options

      }
    }// end .search-content-l
    .search-content-r{
      width: 700px;
        .result{
        &__header{
          font-size: 1.3em;
        }
      }
    } // end .search-content-r

  } // end .search-container
} // end .search-page
