.search-page{
  .search-container{
    position: relative;
    width: 1020px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .search-content-r{
      width: 700px;
      background: $white;
    } // end .search-content-r
    .search-content-l{
      width: 280px;
      .options{
        background-color: $white;
      } //end options
    }
  } // end .search-container
} // end .search-page
