.mypage-item-status.awaiting {
  background: #0099e8;  // 出品中
}

.mypage-item-status.action-required {
  background: #ea352d;  // 公開停止中
}

.mypage-item-status.action-required {
  background: #888; // 売却済
}
