%aside.app-banner
  .pc-app-banne
    .pc-app-banner__inner
      =image_tag "aside-image.png"
    -#   %h2 スマホでかんたんフリマアプリ
    -#   %p 今すぐ無料ダウンロード！
    -# .pc-app-banner__icon__list.clearfix
    -#   %figure
    -#     =image_tag "mercari_icon.png", size:"68", alt:""
    -#   %ul.clearfix
    -#     %li
    -#       =link_to 'アップルストアへのリンク', src: "#", target: "_blank" do
    -#         -# =image_tag "ファイル名", size:"133X40", alt:""
    -#     %li
    -#       =link_to 'googleストアへのリンク', src: "#", target: "_blank" do
    -#         -# =image_tag "ファイル名", size:"133X40", alt:""
    -#   %figure
    -#     -# =image_tag 'スマホの写真', src: "#", alt:""
