.comment
  .comment__left
    %li.sp-header__user-nav__list
      = link_to 'マイページへのリンク', src: '#', class: 'sp-header-user-icon user-profile__avatar' do
        = image_tag 'avatar.jpg', alt: 'プロフィール写真', width: 32
      -# - if ページのid = user.id
      .seller-name 出品者
  .comment__right
    .posted-name すずき
    .comment__body
      .comment__body__text こんにちは！それほしい！
      .icon
      .posted-day 1年前
  .icon-balloon
