%section.pick-up-conteiner
  %h2.pick-up-conteiner__header ピックアップカテゴリー

  %section.items-box__container
    %h3.items-box__header.text-center
      = link_to 'レディース新着アイテム', src: '#'

    = render 'items-box'
