.single-wrapper.buy-confirm-page
  = render 'shared/single-header'
  %main.single-container
    .panel
      %section.panel__head 購入を確定しますか？
      .panel__inner
        %section.buy-content
          .item-info
            %h3.item-info__image
              =image_tag ("http://placehold.jp/320x148.png"), alt: '商品画像'
            %p.item-info__name 商品名がここに入ります
            = form_with model: @item do |f|
              %p.item-info__price
                ¥ 3,500
                %span.item-info__price__shipping
                  送料込み

              -# ポイントがある場合とない場合で表示が切り替わります。余裕があれば追加
              %ul.buy-accordion.not-have
                %li.buy-accordion__inner
                  .buy-accordion__accordion__toggle
                    %p ポイントはありません

              %ul.buy-price
                %li.buy-price__inner
                  .buy-price__inner__cell 支払い金額
                  .buy-price__inner__cell
                    %span{data: {price: "¥¥¥"}} ¥ 3,500

                %p= f.submit "購入する", class: "buy-confirm-btn"

        %hr{color: "#efefef"}
        %section.buy-content
          .user-info
            %h3.user-info__header 配送先
            %adress.user-info__text
              %p
                〒111-111
                %br
                東京都 大田区
                %br
                ＊＊＊１−１−１
                %br
                ＊＊マンション１０１
                %br
                =current_user.name

              %p.link-to-change.icon-arrow-r 変更する
          -# 支払い情報がnillだとグレーのボタンとなり購入できないが、とりあえず無視する

          %hr{color: "#efefef"}
          .card-info
            %h3.card-info__header 支払い方法
            %p.card-info__num ************5238
            %p.card-info__date 01 / 21

            %p.link-to-change.icon-arrow-r 変更する

  = render 'shared/single-footer'
