.sell-upload-box
  %h3.sell-upload-head
    / react-text: 7
    出品画像
    / /react-text
    %span.form-require 必須
  %p 最大10枚までアップロードできます
  .sell-dropbox-container.clearfix.state-image-number-10
    .sell-upload-items-container
      .sell-upload-items.have-item-0
        %ul
    .sell-upload-drop-box.have-item-0
      %input.sell-upload-drop-file{:multiple => "multiple", :name => "image1", :style => "display: none;", :type => "file"}/
      %pre.visible-pc
        :preserve
          ドラッグアンドドロップ
          またはクリックしてファイルをアップロード      %i.icon-camera
  / react-empty: 18
  / react-empty: 19
  / react-empty: 20
  / react-empty: 21
  / react-empty: 22
  / react-empty: 23
  / react-empty: 24
  / react-empty: 25
  / react-empty: 26
  / react-empty: 27
