.card-page{
  .two-column-container__r{
    padding:20px 0 0 0;
    min-height: 0vh;

    .panel{
      padding-bottom: 30px;
      &__head{
        font-size: 24px;
        font-weight:bold;
        padding: 8px 24px;
        text-align: center;
        border-bottom:$table-border;
      }
      &__inner{
        width: 400px;
        margin: 0 auto;
        text-align: left;
        padding:30px 40px;
        border-bottom: solid 1px $gray-lv1;

        &__head{
          font-size: 16px;
          font-weight: 900;
          margin-bottom:30px;
        }
          .card-info{
            line-height: 1.3;
            position: relative;
            &__delete-btn{
              appearance: none;
              color: $base-red;
              height: 22px;
              border: solid 1px $base-red;
              border-radius:3px;
              position: absolute;
              top: 0px;
              right: -80px;
            }
            &__add-btn{
              @include btn-default;
              @include btn-red;
              min-width: 300px;
            }
          }
        }

      .bottom-info{
        width: 100%;
        height: 70px;
        padding: 40px 60px 0px;
        text-align: right;
        color: $link-blue;
        &__link:hover{
          @include blue-link;
        }

        .icon-card::before{
          font-weight:400;
          padding-right: 5px;
        }
      }
    }
  } // .two-clumn-container-r end

  @media screen and (min-width: 1068px){
    .two-column-container__r{
      max-height:330px;
    }
  }
} // .card-page end
