$gray-lv4:#333; //基本の文字色、footerの背景色
$gray-lv3:#888; //アローマーク＞、いいね！のハートなどのグレー
$gray-lv2plus:#979797;
$gray-lv2:#ccc; //検索窓などのボーダーの色
$gray-lv1plus:#eee;
$gray-lv1:#f5f5f5; //wrapperなどの背景の色

$link-blue:#0099e8; //パンくずリストに使われている水色
$link-blue-light:#b3d4fc; //パンくずリストを選択した時の背景色

$base-red:#ea352d; //メルカリのボタンの赤

$white:#fff;
$black:#000;
