html {
  box-sizing: border-box;
  *,*:before,*:after {
    box-sizing: inherit;
  }
} //全ての要素にbox-sizing: border-box;を設定

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  position: relative;
  min-height: 100%;
  background: $gray-lv1;
  font-size: 14px;
  color: $gray-lv4;
  line-height: 1;
} // メルカリ（本家）のbodyについていたcssを全て追記

a{
  text-decoration: none;
  &:link{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
} //a タグの下線・デフォルトの色を消す

li{
  text-decoration: none;
} //liタグの・を消す
