@mixin link-btn {
  display: flex;
  height: 50px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 50px;
  position: relative;
}

@mixin btn-mail {
  background: #eee;
  color: #000;
  transition: 0.7s;
  &:hover {
    opacity: 0.7;
  }
  &__left {
    position: absolute;
    top: 30%;
    left: 17px;
    i {
      display: block;
      font-size: 20px;
      color: #ccc;
    }
  }
  &__right {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin btn-facebook {
  background: #385185;
  color: #fff;
  width: 100%;
  &__left {
    position: absolute;
    top: 20%;
    left: 17px;
    i {
      display: block;
      font-size: 30px;
    }
  }
  &__right {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    a {
      display: block;
    }
  }
}

@mixin btn-google {
  border: 1px solid #979797;
  margin-top: 16px;
  line-height: 48px;
  width: 100%;
  &__left {
    position: absolute;
    top: 28%;
    left: 16px;
    img {
      display: block;
    }
  }
  &__right {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    a {
      display: block;
    }
  }
}

.single-container {
  .sign-in {
    .panel {
      background: #fff;
      max-width: 456px;
      margin: 0 auto;
      &__head {
        padding: 40px 64px;
        border-bottom: 1px solid #eee;
        &__registration-link-btn {
          background: $link-blue;
          margin-top: 8px;
          line-height: 42px;
          color: #fff;
          a {
            display: block;
          }
        }
      }
      &__inner {
        .sns-login {
          padding: 32px 64px;
          &__facebook {
            @include link-btn;
            @include btn-facebook;
          }
          &__google {
            @include link-btn;
            @include btn-google;
          }
        }
        .login-form {
          padding: 24px 64px 32px;
          &__email {
            @include input-default;
          }
          &__password {
            @include input-default;
            margin-top: 24px;
          }
          &__submit {
            margin-top: 24px;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            background: $base-red;
            border: 1px solid $base-red;
            color: #fff;
            cursor: pointer;
          }
          &__forget-password {
            display: block;
            margin-top: 40px;
            text-align: left;
            color: $link-blue;
            &:hover {
              text-decoration: underline $link-blue;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .sign-in {
      .panel {
        &__head {
          padding: 24px 32px;
        }
        &__inner {
          .sns-login {
            padding: 24px 32px;
          }
          .login-form {
            padding: 24px 32px;
          }
        }
      }
    }
  }
}