@mixin clearfix {
  &::after {
  content: "";
  display: block;
  clear: both;
  }
} //clearfix

// .input-default{
//   //inputboxデフォルトのcss
// } 

// .list-parent{
//   //listの一番上の階層に使われているcss
// } 

// .text-center{
//   テキストを中央ぞろえするcss
// }
