.card-create-page{
  .single-container{
    margin-top: 40px;
    .panel{
      &__head{
        text-align: center
      }
      .card-resistration-btn{
        @include btn-default;
        @include btn-red;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 1068px){
  .two-column-container{
    display: flex;
    width: 1020px;
    margin: 0 auto;
    flex-direction:row-reverse;
    justify-content: space-between;

    .two-column-container__r{
      width: 700px;
      max-height:154px; //他ページで使用する際にはここを打ち消してください
    }
    .mypage-nav{
      width: 280px;
      margin-right: 25px
    }
  }
}//幅1068px以上のページに適応されるscss

@media screen and (max-width: 768px) {
  .two-column-container__r{
    width: 100%;
  }
  .mypage-nav{
    width: 100%;
  }
}//幅768px以下のページに適応されるscss
