.logout-btn__container{
  width: 85%;
  margin: 40px auto 0;
  background: $white;
  padding: 50px 70px;
  .logout-btn{
    @include btn-default;
    @include btn-red;
    margin: 0 auto;
    max-width: 320px;
  }
}

.mypage-nav{
  @include clearfix;
  width: 85%;
  margin: 40px auto 80px; //メディアクエリで要検討

  &__list{
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background: $white;
    font-size: 14px;
    color: $gray-lv4;
    border-bottom: solid 1px $gray-lv1;
    &:hover{
      opacity: 0.8;
      .icon-arrow-r::after{
        color: $gray-lv4;
        transform: scale(1.3, 1.3) translateX(3px);
        transition-duration:0.2s;
      }
    }

    &__inner__num{
      display: inline-block;
      background-color: $base-red;
      width: 22px;
      height: 22px;
      line-height:2;
      padding-left:5px;
      border-radius:50%;
      color: $white;
      font-size: 0.6em;
      font-weight:900;
      position: absolute;
      right:30px;
      top:22%;
    }
    .icon-arrow-r{
      display: block;
      width: 100%;
      color:$gray-lv2;
      &::after{
      position: absolute;
      right:20px;
      }
    }
  }
  &__head{
    font-size: 1.2em;
    margin: 30px 0 5px 0;
    font-weight: 900;
  }
  .mypage-nav__current-page{
    background-color: $gray-lv1plus;
    font-weight: 900;
  }
}


@media screen and (min-width: 1068px){
  .two-column-in-full-width{
    display: flex;
    width: 1020px;
    margin: 0 auto;
    flex-direction:row-reverse;
    justify-content: space-between;

    .logout-btn__container{
      width: 700px;
      max-height:154px;
    }
    .mypage-nav{
      width: 280px;
      margin-right: 25px
    }
  }
}//幅1068px以上のページに適応されるscss

@media screen and (max-width: 768px) {
  .logout-btn__container{
    width: 100%;
  }
  .mypage-nav{
    width: 100%;
  }
}//幅768px以下のページに適応されるscss
