.breadcrumb-container{
  position: relative;
  border-top: 1px solid $gray-lv2;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: $white;
  width:100%;

  .breadcrumb{
    display: flex;
    margin-left: 5px;
    &__list{
      display: inline-block;
      padding: 10px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      &::after{
        margin-left: 5px; 
      }
      &:last-child{
        font-weight: 900;
      }
      &:hover{
        text-decoration: underline;
        opacity: .7;
      }
      &::selection{
        @include selection
      }
    }
  }
}

.logout-btn__container{
  width: 100%;
  background: $white;
  margin-top: 25px;
  padding: 50px 70px;
  .logout-btn{
    @include red-btn;
    width: 320px;
  }
}

.l-list{
  margin-top: 40px;
  &__mypage-nav__list{
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background: $white;
    font-size: 14px;
    color: $gray-lv4;

    .icon-arrow-r{
      display: block;
      width: 100%;

      &::after{
      position: absolute;
      right: -20px;
      
      }
    }
  }
}
